earthengine-api==0.1.390
setuptools==69.5.1
ipython==8.9.0
numpy<2.0
scipy<1.13
pyarrow
fastparquet
geemap==0.31.0
yfinance==0.2.40
nsepy==0.8
nselib==1.1
pandas_market_calendars==4.3.1
geopandas==0.14.3
rasterio==1.3.10
shapely==2.0.4
ultralytics==8.2.0
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0
pandas==2.2.1
numpy==1.26.4
statsmodels==0.14.1
# cvxpy==1.4.2 # Optional, requires C++ build tools on Py3.12 Win
scikit-learn==1.4.1.post1
matplotlib==3.8.3
seaborn==0.13.2
plotly==5.20.0
prefect==2.19.1
pytest==8.1.1
jupyterlab==4.1.5
